<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-FRLCJ4HKYS"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-FRLCJ4HKYS');
	</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anagram Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Anagram Solver</h1>

    <input id="letters" type="text" placeholder="Enter letters…">
	
	<button onclick="solve()">Find Anagrams</button>

    <div id="loading">Searching…</div>

    <div id="results-section" style="display:none;">
        <div class="results-title">Results</div>
        <div id="results"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
